* {
	font-family: sans-serif;
	font-size: x-small;
	padding: 0;
	box-sizing: border-box;
	padding: 0;
}

body {
	display: block;
}

.span3:focus ~ .alert {
	display: none;
}

.span2:focus ~ .alert {
	display: block;
}

table {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	border-collapse: collapse;
}

h1 {
	text-align: center;
}

th {
	border-radius: 5px;
	background-color: green;
	padding: 10px;
	width: 150px;
	text-align: center;
	color: white;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
}

td:nth-child(1) {
	padding: 6px;
	text-align: left;
}

td {
	border-radius: 5px;
	padding: 6px;
	text-align: center;
	border: 2px solid #FFFFFF;
}

tr:nth-child(even) {
	background-color: #b9ffb9;
}

tr:nth-child(odd) {
	background-color: #d0ffd0;
}

footer {
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: grey;
}

th.yellow {
	padding: 0px;
	background-color: yellow;
	color: black;
	cursor: pointer;
}

th.blue {
	padding: 0px;
	background-color: blue;
	color: white;
	cursor: pointer;
}

th.red {
	padding: 0px;
	background-color: red;
	color: white;
	cursor: pointer;
}

th.black {
	padding: 0px;
	background-color: black;
	color: lightgrey;
	cursor: pointer;
}

td.yellow {
	background-color: rgba(255, 255, 0, 0.25);
	color: grey;
	text-align: center;
}

td.blue {
	background-color: rgba(0, 0, 255, 0.25);
	color: black;
	text-align: center;
}

td.red {
	color: black;
	text-align: center;
}

td.black {
	background-color: rgba(75, 75, 75, 0.5);
	color: black;
	text-align: center;
}

form.details div.climber label {
	font-size: medium;
	font-weight: bold;
	padding-left: 10px;
}

form.details div.climber input {
	width: 100%;
	background-color: lightgray;
	border: none;
	font-size: large;
	padding: 10px;
}

form.details div.routes input {
	width: 4%;
	padding: 3px;
	border: none;
}

form.details input.submit {
	font-size: medium;
	border: none;
	background-color: green;
	padding: 10px;
}

form.details input.submit:hover {
	background-color: lightgreen;
}

div.edition input:nth-of-type(1) {
	background-color: lightyellow;
}
div.edition input:nth-of-type(2) {
	background-color: lightyellow;
}
div.edition input:nth-of-type(3) {
	background-color: lightyellow;
}
div.edition input:nth-of-type(4) {
	background-color: lightyellow;
}
div.edition input:nth-of-type(5) {
	background-color: lightyellow;
}

div.edition input:nth-of-type(6) {
	background-color: lightblue;
}
div.edition input:nth-of-type(7) {
	background-color: lightblue;
}
div.edition input:nth-of-type(8) {
	background-color: lightblue;
}
div.edition input:nth-of-type(9) {
	background-color: lightblue;
}
div.edition input:nth-of-type(10) {
	background-color: lightblue;
}

div.edition input:nth-of-type(11) {
	background-color: orangered;
}
div.edition input:nth-of-type(12) {
	background-color: orangered;
}
div.edition input:nth-of-type(13) {
	background-color: orangered;
}
div.edition input:nth-of-type(14) {
	background-color: orangered;
}
div.edition input:nth-of-type(15) {
	background-color: orangered;
}

div.edition input:nth-of-type(16) {
	background-color: lightgrey;
}
div.edition input:nth-of-type(17) {
	background-color: lightgrey;
}
div.edition input:nth-of-type(18) {
	background-color: lightgrey;
}
div.edition input:nth-of-type(19) {
	background-color: lightgrey;
}
div.edition input:nth-of-type(20) {
	background-color: lightgrey;
}
