<!DOCTYPE html>
<html lang="pl">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Slonska Liga Boulderowa - rankingi">
<title>ClimbContest - run climbing contests</title>
<link rel="stylesheet" href="css/style.css">
<script type="text/javascript" src="js/jquery-3.3.1.js"></script> 
<script type="text/javascript" charset="utf8" src=js/jquery.dataTables.js></script>



</head>
<body>
	<form action="loginAction">
		<label>user:</label><input type="text">
		<label>pass:</label><input type="password">
		<button ></button>
	</form>
</body>

</html>