<!DOCTYPE html>
<html lang="pl">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Slonska Liga Boulderowa - rankingi">
<title>ClimbContest - run climbing contests</title>
<link rel="stylesheet" href="../css/style.css">

</head>
<body>
	<h1>psst!</h1>

	<form action="scoreAddition/addAttempt" method="post" style="margin: 15px">
		<div style="margin: 15px">
			<label style="font-size: small;">Competitor number:</label>
			<br>
			<input type="number" required="required" name="competitorId" pattern="[0-9]" />
		</div>
		<div style="margin: 15px">
			<label style="font-size: small;">Problem number:</label>
			<br>
			<input type="number" required="required" name="routeId" pattern="[0-9]">
		</div>
		<div style="margin: 15px;">
			<input type="submit" id="submitTop" name="effect" value="TOP" style="padding: 5px;" />
			<input type="submit" id="submitBonus" name="effect" value="BONUS" style="padding: 5px;" />
			<input type="submit" id="submitNone" name="effect" value="NONE" style="padding: 5px;" />
		</div>
	</form>

	<footer>
		&copy; 2016 - 2017 by
		<strong>FFK</strong>
	</footer>
</body>

</html>