<!DOCTYPE html>
<html lang="pl">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Slonska Liga Boulderowa - rankingi">
<title>ClimbContest - run climbing contests</title>
<link rel="stylesheet" href="css/style.css">
<script type="text/javascript" src="js/jquery-3.3.1.js"></script> 
<script type="text/javascript" charset="utf8" src=js/jquery.dataTables.js></script>


<script>
$(document).ready( function () {
	$('#table_id').DataTable( {
	   searching: false,
	   paging: false,
	   bInfo: false,
	   "order": [[ 1, "desc" ]]
	} );

} );
</script>

</head>
<body>
	<h1>{{header}}</h1>
	
	<table id="table_id" class="DataTable">
		<thead>
			<tr>
				<th>name</th>
				<th>category</th>
				<th>club</th>
				<th>score</th>
				{{#routes}}
				<th>{{.}}</th>
				{{/routes}}
			</tr>
		</thead>

		<tbody>
			{{#climbers}}
			<tr>
				<td>{{name}}</td>
				<td>{{category}}</td>
				<td>{{club}}</td>
				<td>{{score}}</td>
				{{#routeScores}}
				<td>{{.}}</td>
				{{/routeScores}}
			</tr>
			{{/climbers}}
		</tbody>

	</table>

	<div class="container"></div>
	<footer>
		&copy; 2016 - 2017 by <strong>FFK</strong>
	</footer>
</body>

</html>