<!DOCTYPE html>
<html lang="pl">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Slonska Liga Boulderowa - rankingi">
<title>ClimbContest - run climbing contests</title>
<link rel="stylesheet" href="../css/style.css">
<link rel="icon" href="../img/SLB.jpg">

</head>
<body>
	<h1>Import</h1>

	<form action="scoreImport/import" method="post" class="details">
		<input type="submit" class="submit" value="IMPORT" 	/>
	</form>

	<footer>
		&copy; 2016 - 2019 by <strong>FFK</strong>
	</footer>
</body>

</html>