<!DOCTYPE html>
<html lang="pl">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Slonska Liga Boulderowa - rankingi">
<title>ClimbContest - run climbing contests</title>
<link rel="stylesheet" href="../css/style.css">

</head>
<body>
	<h1>Find climber</h1>

	<form action="pick" method="post" class="details">
		<div class="climber">
			<select id="climberSelection" name="id" onchange="this.form.submit()" onload=" document.getElementById('climberSelection').value = {{id}" >
				{{#climbers}}
				<option value="{{id}}" {{selected}}>{{name}}</option>
				{{/climbers}}
			</select>
			<a class="shifted" href="/climberAddition/">add climber</a>
		</div>
	</form>
	<br/>
	<form action="add" method="post" class="details">
		<div>
			<div class="routes">
				{{#routes}}
					<input type="text" name="routes" value={{.}} pattern="[bt\u002D]{1}" onclick="this.select()"/>
				{{/routes}}
				<br/>
				<br/>
			</div>
			<div>
				<input type="hidden" name="id" value="{{id}}" />
				<input type="submit" name="submit" class="submit" />
			</div>
		</div>
	</form>
	
	<h1>Manage editions</h1>
		<form action="manage" method="post" class="details">
		<div class="climber">
			<div>
				<label>Editions completed</label><br/>
				<input type="number" name="completed" pattern="[0-8]{1}" value="{{completed}}" />
			</div>
			<br/>
			<div>
				<label>Current edition</label><br/>
				<input type="number" name="current" pattern="[1-8]{1}" value="{{current}}" />
			</div>
		</div>
		<br/>
		<br/>
		<div>
			<input type="submit" class="submit" name="add" />
		</div>
	</form>

	<footer>
		&copy; 2016 - 2019 by
		<strong>FFK</strong>
	</footer>
</body>

</html>